{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Пост № {{ post.id }}{% endblock %}
{% block header %}Пост № {{ post.id }}{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            {% include 'includes/profile_item.html' %}
            <div class="col-md-9">
                    <!-- Пост -->
                {% include "includes/post_item.html" with post=post %}
            </div>
        </div>
    </main>
    {% include 'includes/comments.html' %}
{% endblock %}